
body {
  background-color: #f2f2f2;
  color: #000000;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 21px;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  -webkit-box-shadow: 0 0 15px 3px rgba(0, 1, 1, 0.15);
          box-shadow: 0 0 15px 3px rgba(0, 1, 1, 0.15);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.main-header {
  position: relative;
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  line-height: 26px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 1054px;
}

.main-navigation {
  position: relative;
  padding: 0 73px;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-pack: justify;
  margin: 0;
  padding: 0;
  list-style: none;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.main-header .logo {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 2;
  margin-left: -69px;
  width: 138px;
  height: 70px;
}

.site-navigation-item {
  margin-right: 10px;
  vertical-align: middle;

  -ms-flex-preferred-size: 230px;
      flex-basis: 230px;
}

.site-navigation-item:nth-child(2) {
  margin-right: auto;
}

.site-navigation-item:first-child,
.site-navigation-item:nth-child(2) {
  text-align: left;
}

.site-navigation-item:last-child,
.site-navigation-item:nth-child(3) {
  text-align: right;
}
.site-navigation-item:last-child {
  margin-right: 0;
}
.site-navigation-item a {
  display: inline-block;
  padding: 15px 0;
  color: #000000;
  text-decoration: none;
}

.site-navigation-item a:hover {
  color: #81b3d2;
}

.site-navigation-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current {
  padding-top: 15px;
  color: #766357;
}

.greeting {
  position: relative;
  z-index: 1;
  padding-top: 76px;
  padding-bottom: 76px;
  background-color: #749bbd;
  background-image: url("../img/background_photo.jpg");
  background-position: 50% -55px;
  background-repeat: no-repeat;
}
.greeting::after {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 1200px;
  height: 57px;
  background-image: url("../img/polygon_mask.svg");
  background-repeat: no-repeat;
  content: "";
}
.features {
  background-color: #ffffff;
  color: #333333;
}

.features > div {
  position: relative;
  z-index: 10;
  margin: 0 auto;
  padding: 59px 312px 50px;
  background-color: #ffffff;
}

.features b {
  display: inline-block;
  margin-bottom: 26px;
  color: #000000;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.features p {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-pack: justify;
  margin: 0;
  padding: 0;
  list-style: none;

  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feature-item {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 400px;
  background-color: #eeeeee;
}

.feature-item:nth-child(n+3) {
  z-index: 20;
}

.feature-item div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 48px 60px 58px;
}
.feature-item:last-child div {
  padding-right: 73px;
  padding-left: 77px;
}
.item-title {
  margin: 0;
  color: #000000;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.feature-item .item-title {
  margin: 0 auto;
  margin-bottom: 23px;
  width: 151px;
  line-height: 21px;
}

.feature-item span {
  display: inline-block;
  margin-bottom: 23px;
}

.feature-item p {
  margin: 0;
  line-height: 21px;
}

.feature-item-photo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-pack: justify;

  -ms-flex-preferred-size: 1200px;
      flex-basis: 1200px;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feature-item-photo div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 45px;
  padding-left: 50px;
  background-color: #81b3d2;
  color: #ffffff;

  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
}
.feature-item-photo img {
  position: absolute;
  top: -76px;
  z-index: 1;
}

.feature-item-photo:nth-child(2n+1) img {
  right: 0;
}

.feature-item-photo:nth-child(2n) img {
  left: 0;
}
.feature-item-photo:nth-child(2n+1) > div {
  margin-right: 800px;
}
.feature-item-photo:nth-child(2n) > div {
  margin-left: 800px;
}

.feature-item-photo .item-title {
  color: #ffffff;
}

.reason-description-list {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-pack: justify;
  padding: 0;
  list-style: none;

  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reason-description-item {
  width: 400px;
}

.reason-description-item div {
  position: relative;
  padding: 160px 55px 83px;
  background-color: #ffffff;
  color: #333333;
}

.reason-description-item div::before {
  position: absolute;
  top: 55px;
  left: 50%;
  margin-left: -38px;
  width: 76px;
  height: 76px;
  content: "";
}

.reason-description-item .accomodation-icon::before {
  background-image: url(../img/house-icon.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.reason-description-item .food-icon::before {
  background-image: url(../img/food-icon.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.reason-description-item .souvenir-icon::before {
  background-image: url(../img/souvenir-icon.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.reason-description-list .item-title {
  color: #000000;
}

.search-block {
  position: relative;
  z-index: 1;
}

.search-block-header {
  position: relative;
  background-color: #ffffff;
  color: #333333;
}

.section-title {
  position: relative;
  z-index: 20;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 25px;
  background-color: #ffffff;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
}

.search-block-header > p {
  position: relative;
  z-index: 20;
  margin: 0 310px;
  padding-bottom: 49px;
  width: 580px;
  background-color: #ffffff;
}

.btn {
  display: inline-block;
  border: none;
  color: #ffffff;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-transform: inherit;
  font-weight: bold;
  font-size: 14px;
  font-family: inherit;
  line-height: 21px;
}

.modal-operator {
  position: relative;
  z-index: 20;
  padding: 30px 85px;
  width: 568px;
  background-color: #766357;
  font-size: 21px;
  line-height: 26px;
}
.search-block-header iframe {
  border-width: 0;
}
.modal-operator:hover {
  background-color: #604e43;
}

.modal-operator:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.main-footer {
  position: absolute;
  bottom: 5px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-pack: justify;
      -ms-flex-align: center;
  padding: 35px 0;
  width: 1200px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #000000;
  font-size: 14px;
  line-height: 26px;

  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-footer p {
  margin: 0;
  vertical-align: middle;
  font-weight: bold;
  font-size: 21px;

  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
}

.social-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-pack: center;
  margin: 0;
  padding: 0;
  list-style: none;

  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.social-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-pack: center;
      -ms-flex-align: center;
  width: 46px;
  height: 46px;
  background-color: #81b3d2;
  color: #ffffff;
  vertical-align: middle;
  text-decoration: none;

  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}
.social-block li {
   margin-right: 6px;
}
.social-block li:last-of-type {
  margin-right: 0;
}
.social-btn-tw {
  background-image: url(../img/twitter-icon.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.social-btn-fb {
  background-image: url(../img/fb-icon.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.social-btn-yt {
  background-image: url(../img/youtube-icon.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn:active {
  background-color: #5496bd;
}

.social-btn:active path {
  fill: #88b6d1;
}

.copyright-block {
  vertical-align: middle;
  text-align: center;

  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
}

.copyright-block a {
  display: inline-block;
  margin-left: 5px;
  width: 115px;
  height: 41px;
  color: #000000;
  vertical-align: middle;
  text-decoration: none;
}

.copyright-block path,
.copyright-block rect {
  fill: #231f20;
}

.copyright-block a:hover path,
.copyright-block a:hover rect {
  fill: #81b3d2;
}

.copyright-block a:active path,
.copyright-block a:active rect {
  fill: #bdbbbc;
}
/*анимация для открытия модалки*/
@-webkit-keyframes appear { 
  0% {
    -webkit-transform: translateY(-400px);
            transform: translateY(-400px); 
/*    visibility: hidden;*/
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); 
  }
}
@keyframes appear { 
  0% {
    -webkit-transform: translateY(-400px);
            transform: translateY(-400px); 
/*    visibility: hidden;*/
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); 
  }
}
/*анимация для закрытия модалки*/
@-webkit-keyframes disappear { 
  0% {
    -webkit-transform: translateY(400px);
            transform: translateY(400px); 
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); 
  }
}
@keyframes disappear { 
  0% {
    -webkit-transform: translateY(400px);
            transform: translateY(400px); 
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); 
  }
}
/*стили для модалки поиска*/
.modal,
.modal-open {
  position: absolute;
  left: 50%;
  z-index: 10;
  margin-left: -284px;
  padding: 55px 0;
  width: 568px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 7px 10px rgba(0, 1, 1, 0.15);
          box-shadow: 0 7px 10px rgba(0, 1, 1, 0.15);
  color: #000000;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}
/*правило для закрытия модалки*/
.modal {
  bottom: 1px;
  -webkit-animation-name: disappear;
          animation-name: disappear;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}
/*правило для выезда модалки*/
.modal-open {
  top: 100%;
  min-height: 290px;
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}
.hotel-search-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 458px;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hotel-search-form .search-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-pack: justify;
      -ms-flex-align: center;
  margin: 0;
  margin-bottom: 30px;
  width: 458px;
  vertical-align: middle;

  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hotel-search-form .search-item:last-of-type {
  margin-bottom: 54px;
}

/*общие стили для инпутов в поиске*/
.hotel-search-form input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 6px 0;
  padding-left: 13px;
  min-height: 38px;
  border: none;
  background-color: #f2f2f2;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}
/*стили для полей с датами*/
.date-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.date-block div{
  position: relative;
}
.search-item .date-field {
  padding-right: 35px;
  width: 346px;
}
/*стили календарика*/
.date-field + .calendar {
  position: absolute;
  top: 50%;
  right: 8px;
  margin-top: -11px;
  width: 21px;
  height: 22px;
}

.date-block path,
.date-block rect {
  fill: #cacaca;
}

.calendar:hover path,
.calendar:hover rect {
  fill: #000000;
}

.calendar:active path,
.calendar:active rect {
  fill: #81b3d2;
}

/*стили для полей с количеством людей*/
.person-amount-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-pack: justify;
      -ms-flex-align: center;
  margin: 0;
  margin-bottom: 0;

  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.person-amount-group input {
  padding-left: 15px;
}

.person-amount-group label {
  margin-right: 40px;
}

.person-amount-group:last-child label {
  margin-right: 25px;
}

.person-amount,
.count-btn {
  width: 38px;
}

.person-amount-group .count-btn {
  position: relative;
  height: 38px;
}

.person-amount-group .count-btn::before {
  position: absolute;
  top: 18px;
  left: 13px;
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
  content: "";
}

.person-amount-group .increase-btn::after {
  position: absolute;
  top: 18px;
  left: 13px;
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
  content: "";
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.hotel-search-form input::-webkit-input-placeholder {
  color: #000000;
}

.hotel-search-form input::-moz-placeholder {
  color: #000000;
}

.hotel-search-form input:-moz-placeholder {
  color: #000000;
}

.hotel-search-form input:-ms-input-placeholder {
  color: #000000;
}

.hotel-search-form input:hover {
  background-color: #ebebeb;
}

.hotel-search-form input:active,
.hotel-search-form input:focus {
  outline: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.hotel-search-form .increase-btn,
.hotel-search-form .decrease-btn {
  border: none;
  background-color: #f2f2f2;
  color: #a9a9a9;
  font-weight: bold;
  font-size: 14px;
  font-family: inherit;
}

.increase-btn:hover::after,
.count-btn:hover::before {
  background-color: #000000;
}

.increase-btn:active::after,
.count-btn:active::before {
  background-color: #81b3d2;
}

.modal .find-btn {
  padding: 16px 0;
  width: 100%;
  background-color: #81b3d2;
  font-size: 21px;
  line-height: 26px;
}

.modal .find-btn:hover {
  background-color: #669ec0;
}

.modal .find-btn:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
@keyframes error {
  0% {
    transform: scale(0);    
  }
  50% {
    transform: scale(1.1);
  } 
  100% {
    transform: scale(1.1);    
  }
}
.error-message::after {
  content: "Заполните, пожалуйста, все поля";
  position: absolute;
  top: 0;
  left: 480px;
  padding: 8px 15px;
  width: 250px;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  border-radius: 3px;
  border: 3px solid #766357;
  animation-name: error;
  animation-duration: 0.15s;
  animation-timing-function: ease-in-out;
}
.error-message::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 469px;
  width: 0;
  height: 0;
  border: 11px solid #766357;
  border-left-width: 0;
  border-top-color: transparent;
  border-bottom-color: transparent;
  animation-name: error;
  animation-duration: 0.15s;
  animation-timing-function: ease-in-out;
}
/*блок с фильтрами*/
.search-block-filters {
  padding-top: 28px;
  padding-bottom: 31px;
  background-color: #495158;
  background-image: url("../img/filter_background_1200.jpg");
  background-position: 50% -55px;
  background-repeat: no-repeat;
  color: #ffffff;
}
.search-filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.search-filter-form .infrastructure {
    margin-right: 105px;

  -ms-flex-preferred-size: 150px;
      flex-basis: 150px;
}

.search-filter-form .accomodation-type {
  margin-right: auto;

  -ms-flex-preferred-size: 150px;
      flex-basis: 150px;
}

.filter-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  border: none;
  text-align: left;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filter-group legend {
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 16px;
}

.infrastructure label,
.accomodation-type label {
  position: relative;
  display: block;
  margin-bottom: 25px;
  padding-left: 41px;
  cursor: pointer;
}

.filter-group label:last-child {
  margin-bottom: 0;
}

.infrastructure label::before,
.accomodation-type label::before {
  position: absolute;
  top: -2px;
  left: 0;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-position: 0 50%;
  background-repeat: no-repeat;
  content: "";
}

input[type="checkbox"]:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
/*стили для блока с кастомным ползунком*/
.column-range {
  -ms-flex-preferred-size: 318px;
      flex-basis: 318px;
}

.cost-per-day {
  color: #ffffff;
}

.cost-per-day legend {
  margin-bottom: 10px;
}

.cost-range-display {
  margin-bottom: 20px;
  height: 32px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-size: 0;
}

.cost-range-display label {
  display: inline-block;
  padding-top: 6px;
  padding-left: 65px;
  width: 90px;
  vertical-align: top;
  font-size: 14px;
}

.cost-range-display input {
  width: 45px;
  border: none;
  background: none;
  color: #ffffff;
  font-size: inherit;
}

.cost-range-display .max-cost {
  position: relative;
  padding-left: 60px;
}

.cost-range-display .max-cost::before {
  position: absolute;
  top: 4px;
  left: 2px;
  width: 2px;
  height: 22px;
  background-color: #ffffff;
  content: "";
}

.cost-range {
  position: relative;
  margin-bottom: 32px;
}

.cost-range .scale {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.cost-range .bar {
  position: relative;
  width: 250px;
  height: 2px;
  background-color: #ffffff;
}

.control-element {
  position: absolute;
  top: -9px;
  left: 0;
  width: 4px;
  height: 4px;
  border: 8px solid #ffffff;
  border-radius: 50%;
  background-color: #ababab;
}

.control-element:hover {
  top: -10px;
  border-width: 9px;
  cursor: pointer;
}

.max-cost-control {
  left: 252px;
}

.show-btn {
  padding: 5px 34px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  background-color: transparent;
  font-weight: normal;
}

.show-btn:hover {
  background-color: #ffffff;
  color: #000000;
}

.hotels-catalog {
  background-color: #ffffff;
  color: #000000;
}

.hotels-catalog {
  padding-bottom: 121px;
}

.hotels-catalog-header {
  padding: 30px 0;
  border-bottom: 1px solid #e5e5e5;
}

.hotels-catalog-header .wrapper {
      -ms-flex-align: center;

  -webkit-box-align: center;
          align-items: center;
}

.hotels-catalog-header .found {
  margin-top: 0;
  margin-right: 48px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.hotels-catalog-header .sorting,
.hotels-catalog-header .type-sorting {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}

.sorting {
  margin-right: auto;
}

.sorting b {
  margin-right: 35px;
}

.sorting a {
  margin-right: 31px;
  border-bottom: 1px dotted #81b3d2;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.sorting .sorting-active {
  border-bottom: none;
  color: #81b3d2;
}

.sorting a:hover {
  color: #81b3d2;
}

.sorting a:active {
  border-bottom: none;
  color: #000000;
}

.type-sorting {
  min-width: 36px;
  font-size: 0;
}

.type-sorting-arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border: 6px solid #cacaca;
  border-right-color: transparent;
  border-left-color: transparent;
  text-decoration: none;
  font-size: 12px;
  -webkit-transform: scaleY(2);
      -ms-transform: scaleY(2);
          transform: scaleY(2);
}

.arrow-down {
  border-bottom-width: 0;
}

.arrow-up {
  margin-right: 8px;
  border-top-width: 0;
}

.type-sorting-arrow:hover {
  border-color: #000000;
  border-right-color: transparent;
  border-left-color: transparent;
}

.type-sorting-arrow:active {
  border-color: #81b3d2;
  border-right-color: transparent;
  border-left-color: transparent;
}

.type-sorting .active {
  border-color: #81b3d2;
  border-right-color: transparent;
  border-left-color: transparent;
}

.hotels-catalog-list {
  margin: 0;
  padding: 0;
  color: #333333;
  list-style: none;
}

.hotels-catalog-item {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
  text-align: left;
}

.hotels-catalog-item img {
  margin-right: 30px;
  width: 135px;
  height: 90px;
}

.hotel-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  width: 260px;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  align-content: space-between;
}

.hotel-info .item-title {
  margin-top: -5px;
  margin-bottom: 0;
  width: 100%;
}

.item-title a {
  color: #000000;
  text-decoration: none;
}

.item-title a:hover {
  color: #81b3d2;
}

.item-title a:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-type {
  margin-right: 6px;

  -ms-flex-preferred-size: 110px;
      flex-basis: 110px;
}

.btn-details {
  margin-top: 5px;
  margin-right: 6px;
  padding: 3px 16px;
  background-color: #81b3d2;
}

.btn-details:hover {
  background-color: #669ec0;
}

.btn-details:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.btn-reserve {
  margin-top: 5px;
  padding: 3px 17px;
  background-color: #766357;
}

.btn-reserve:hover {
  background-color: #604e43;
}

.btn-reserve:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-rating-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-pack: end;
  margin: 0;
  width: 111px;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.hotel-rank-star {
  display: inline-block;
  height: 18px;
  background-image: url("../img/rank_star.svg");
  background-position: 0 40%;
  background-repeat: space;
}

.four-star {
  width: 87px;
}

.three-star {
  width: 64px;
}

.two-star {
  width: 41px;
}

.hotel-rating-area .hotel-rating {
  padding: 3px 10px 3px 17px;
  width: 90px;
  background-color: #f4f4f4;
  color: #666666;
  text-align: center;
}