body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  background-color: #f2f2f2;
}
.main-header {
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}
.site-navigation {
  list-style: none;
}
.site-navigation-item {
  vertical-align: middle;
}
/*выравнивание ссылок блока меню по тз*/
.site-navigation-item:first-child,
.site-navigation-item:nth-child(2) {
  text-align: left;
}
.site-navigation-item:last-child,
.site-navigation-item:nth-child(3) {
  text-align: right;
}
.site-navigation-item a {
  color: #000000;
  text-decoration: none;
}
.site-navigation-item a:hover {
  color: #81b3d2;
}
.site-navigation-item a:active {
  color: rgba(0, 0, 0, 0.3);
}
.site-navigation-current {
  color: #766357;
}
.greeting {
  /*height: 509px;*/
  background-color: #749bbd;
  background-image: url("../img/polygon_mask.svg"),
  url("../img/background_photo2.jpg");
  background-repeat: no-repeat;
  background-position: bottom,
                      50% -55px;
}
.features {
  color: #000000;
}
.features div {
  background-color: #ffffff;
}
.features b {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.features p {
  font-size: 14px;
  line-height: 26px;
}
.features-list {
  list-style: none;
  background-color: #eeeeee;
}
.item-title {
  font-size: 21px;
  font-weight: bold;
}
.feature-item-photo div{
  color: #ffffff;
  background-color: #81b3d2;
}
.reason-description-list {
  list-style: none;
  background-color: #ffffff;
}