body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  background-color: #f2f2f2;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.main-header {
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}
.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-navigation-item {
  vertical-align: middle;
}
/*выравнивание ссылок блока меню по тз*/
.site-navigation-item:first-child,
.site-navigation-item:nth-child(2) {
  text-align: left;
}
.site-navigation-item:last-child,
.site-navigation-item:nth-child(3) {
  text-align: right;
}
.site-navigation-item a {
  color: #000000;
  text-decoration: none;
}
.site-navigation-item a:hover {
  color: #81b3d2;
}
.site-navigation-item a:active {
  color: rgba(0, 0, 0, 0.3);
}
.site-navigation-current {
  color: #766357;
}
.greeting {
  padding-top: 76px;
  padding-bottom: 79px;
  background-color: #749bbd;
  background-image: url("../img/polygon_mask.svg"),
  url("../img/background_photo.jpg");
  background-repeat: no-repeat;
  background-position: bottom,
                      50% -55px;
}
.features {
  color: #333333;
  background-color: #ffffff;
}
.features > div {
  width: 577px;
  padding-top: 62px;
  padding-bottom: 50px;
  margin: 0 auto;
  background-color: #ffffff;
}
.features b {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}
.features p {
  font-size: 14px;
  line-height: 26px;
}
.features-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #eeeeee;
}
.feature-item {
  width: 400px;
}
.item-title {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}
.feature-item-photo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1200px;
}
.feature-item-photo div{
  flex-basis: 400px;
  color: #ffffff;
  background-color: #81b3d2;
}
.feature-item-photo figure {
  margin: 0;
}
.feature-item-photo .item-title {
  color: #ffffff;
}
.reason-description-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
}
.reason-description-item {
  flex-basis: 400px;
}
.reason-description-list .item-title {
  color: #000000;
}
.search-block-header {
  padding-top: 54px;
  color: #333333;
  background-color: #ffffff;
}
.section-title {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}
.search-block-header p {
  margin-bottom: 47px;
}
.btn {
  font-family: inherit;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  text-transform: inherit;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  border: none;
}
.modal-open {
  width: 568px;
  background-color: #766357;
}
.modal-open:hover {
  background-color: #604e43;
}
.modal-open:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}
.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.9);
}
.main-footer p {
  flex-basis: 400px;
  margin: 0;
  font-size: 21px;
  font-weight: bold;
  vertical-align: middle;
}
.social-block {
  flex-basis: 400px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.social-btn {
  color: #ffffff;
  text-decoration: none;
  background-color: #81b3d2;
}
.social-btn:hover {
  background-color: #669ec0;
}
.social-btn:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.copyright-block {
  flex-basis: 400px;
  vertical-align: middle;
}
.copyright-block a{
  color: #000000;
  text-decoration: none;
}
.copyright-block a:hover {
  color: #81b3d2;
}
.copyright-block a:active {
  color: #bdbbbc;
}
.modal {
  width: 568px;
  padding: 55px 0;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
}
.hotel-search-form {
  width: 458px;
  margin: 0 auto;
}
.hotel-search-form input {
  font: inherit;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
}
.hotel-search-form input::-webkit-input-placeholder {color:#000000;}
.hotel-search-form input::-moz-placeholder {color:#000000;}
.hotel-search-form input:-moz-placeholder {color: #000000;}
.hotel-search-form input:-ms-input-placeholder {color: #000000;}
.hotel-search-form input:hover {
  background-color: #ebebeb;
}
.hotel-search-form input:active,
.hotel-search-form input:focus{
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: none;
}
.hotel-search-form .increase-btn,
.hotel-search-form .decrease-btn {
  font-family: inherit;
  font-size: 14px;
  font-weight: bold;
  color: #a9a9a9;
  background-color: #f2f2f2;
  border: none;
}
.hotel-search-form .increase-btn:hover,
.hotel-search-form .decrease-btn:hover {
  color: #000000;
}
.hotel-search-form .increase-btn:active,
.hotel-search-form .decrease-btn:active {
  color: #81b3d2;
  outline: none;
}
.modal .find-btn {
  width: 458px;
  background-color: #81b3d2;
}
.modal .find-btn:hover {
  background-color: #669ec0;
}
.modal .find-btn:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.search-block-filters {
  padding-top: 28px;
  padding-bottom: 31px;
  color: #ffffff;
  background-color: #495158;
  background-image: url("../img/filter_background_1200.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;
}
.wrapper {
  display: flex;
  width: 1054px;
  margin: 0 auto;
}
.search-filter-form .infrastructure{
  flex-basis: 150px;
  margin-right: 103px;
}
.search-filter-form .accomodation-type {
    flex-basis: 150px;
  margin-right: auto;
}
.column-range {
  flex-basis: 330px;
}
.filter-group {
  margin: 0;
  padding: 0;
  border: none;
  text-align: left;
}
.filter-group legend {
  font-size: 16px;
  font-weight: bold;
}
.show-btn {
  font-weight: normal;
  background-color: transparent;
  border: 2px solid #ffffff;
}
.show-btn:hover {
  color: #000000;
  background-color: #ffffff;
}
.hotels-catalog {
  color: #000000;
  background-color: #ffffff;
}
.hotels-catalog-header {
  padding: 30px 0;
  border-bottom: 1px solid #e5e5e5;
}
.hotels-catalog-header .wrapper {
  align-items: center;
}
.hotels-catalog-header .found {
  margin-right: 50px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.hotels-catalog-header .sorting,
.hotels-catalog-header .type-sorting{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}
.sorting {
  margin-right: auto;
}
.sorting a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}
.sorting .sorting-active {
  color: #81b3d2;
  border-bottom: none;
}
.sorting a:hover {
  color: #81b3d2;
}
.sorting a:active {
  color: #000000;
  border-bottom: none;
}
.type-sorting-arrow{
  text-decoration: none;
}
/*.type-sorting-arrow:hover {
  
}
.type-sorting-arrow:active {
  
}*/
.hotels-catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #333333;
}
.hotels-catalog-item {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
  text-align: left;
}
.hotels-catalog-item img {
  margin-right: 30px;
}
.hotel-info {
  flex-basis: 258px;
  margin-right: auto;
}
.item-title a {
  text-decoration: none;
  color: #000000;
}
.item-title a:hover {
  color: #81b3d2;
} 
.item-title a:active {
  color: rgba(0, 0, 0, 0.3 );
}
.btn-details {
  background-color: #81b3d2;
}
.btn-details:hover {
  background-color: #669ec0;
}
.btn-details:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}
.btn-reserve {
  background-color: #766357;
}
.btn-reserve:hover {
  background-color: #604e43;
}
.btn-reserve:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}
.hotel-rating-area .hotel-rating{
  color: #666666;
  background-color: #f4f4f4;
}